body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    flex-direction: column;
    background-image: url('assests/IMAGE3.JPEG');
    background-size: cover;
    background-position: center;
}

#countdown {
    font-size: 8em;
    color: white;
    position: center;
    z-index: 20;
}

#newYearMessage {
    display: none;
    font-size: 4em;
    color: whitesmoke;
    margin-top: 30px;
    animation: fadeInScale 4s ease-in-out forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 2;
        transform: scale(6.5);
    }
    200% {
        opacity: 2;
        transform: scale(2);
    }
}

.emoji {
    font-size: 2em;
    margin-top: 10px;
}

.heart-symbol {
    font-size: 3em;
    color: red;
    margin-bottom: 20px;
}

.paper-emojis {
    font-size: 2.5em;
    margin-top: 20px;
}
